<div>
  <label style="font-weight:bold;"><%= Contact.human_attribute_name :name_complete %>: </label><p style="display: inline-block;line-height:1em;"><%= @object.name_complete %></p>
  <br>
  <label style="font-weight:bold;"><%= Contact.human_attribute_name :email %>: </label><p style="display: inline-block;line-height:1em;"><%= @object.email%></p>
  <br>
  <label style="font-weight:bold;"><%= Contact.human_attribute_name :phone %>: </label><p style="display: inline-block;line-height:1em;"><%= @object.phone %></p>
  <br>
  <label style="font-weight:bold;"><%= Contact.human_attribute_name :message %>: </label><p style="display: inline-block;line-height:1em;"><%= @object.message %></p>
</div>