<%= render partial: 'top_menu.html.erb'%>

<!-- Quienes Somos -->
<div id="fullpageAboutUs" class="fullpage-about-us">
  <div class="section about-us-info">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-6">
          <div class="text-about-us text-center-sm">
            <h3>
              ¿Quiénes
            </h3>
            <h2>somos?</h2>
            <br/><br/>
            <p>
              TELEDERMA es un servicio del Hospital Universitario Centro Dermatológico Federico Lleras Acosta,  institución pública con sede en Bogotá y más de 80 años de experiencia,  que  brinda con calidad humana y seguridad,  servicios  especializados en dermatología.
              <br/><br/>
              Gracias a la telemedicina, ahora nuestro hospital llega a todos los rincones de Colombia con la más alta tecnología y los mejores especialistas del país para resolver los problemas de piel de forma efectiva, económica y segura.
              <br/><br/>
              Hacemos parte de la Red Iberoamericana de Tecnología Móviles en Salud “RITMOS” con la cual aportamos a la investigación e innovación en nuevas tecnologías para la salud.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'social_network.html.erb'%>
  </div>

  <!-- Que es Telederma -->
  <div class="section what-is-telederma">
    <div class="container" style="margin-top:-100px;">
      <div class="text-about-us text-center">
        <h3 style="margin-bottom: 0px">
          ¿Qué es
        </h3>
        <h2><b>Telederma?</b></h2>
        <br/><br/>
        <p style="max-width: 600px;margin:auto;">Telederma presta servicios de dermatología a distancia resolviendo problemas de oportunidad y acceso a la salud. A través de un dispositivo móvil incluido en el Kit Telederma, es posible la toma y transmisión de imágenes de alta calidad asociadas a la historia clínica del paciente.</p>
        <div class="cont-video-telederma" style="margin-top: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/EFj1yqKbOa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <%= render partial: 'social_network.html.erb'%>
  </div>
  <!-- Fin Que es Telederma -->

  <!-- Beneficios -->
  <div class="section benefits" style="margin-top:-27px;">
    <div class="text-about-us text-center relative" style="margin-bottom: 10px">
      <h2 style="margin-bottom: 3px">
        Beneficios
      </h2>
      <h3>de la Teledermatología</h3>
    </div>
    
    <div class="container">
      <div class="row row-center">
        <div class="col-md-6">
          <figure class="benefit-box benefit-box1 purple-bg">
            <div class="text-benefits center-vertical">
              <p>
                Hace posible la ejecución de las <span>rutas integrales</span> de atención en salud.
              </p>
              <small>fuente: Política de Atención Integral en Salud. MinSalud</small>
            </div>
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="benefit-box benefit-box4 light-blue-bg hidden-sm hidden-xs">
            <div class="text-benefits center-vertical">
              <p>
                Más oportunidad con menos listas de espera <span>+ satisfacción de los pacientes.</span>
              </p>
            </div>
          </figure>
          <figure class="benefit-box benefit-box2 light-blue-bg hidden-md hidden-lg">
            <div class="text-benefits center-vertical">
              <p>
                <span>Aumenta la capacidad</span> <br/>resolutiva del prestador primario
              </p>
            </div>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <figure class="benefit-box benefit-box2 light-blue-bg hidden-xs hidden-sm">
            <div class="text-benefits center-vertical">
              <p>
                <span>Aumenta la capacidad</span> <br/>resolutiva del prestador primario
              </p>
            </div>
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="benefit-box benefit-box3 purple-bg hidden-md hidden-lg">
            <div class="text-benefits center-vertical">
              <p>
                Menos “remisiones físicas” <br/> innecesarias al dermatólogo conduce a <span>menores costos y mayor eficiencia.</span>
              </p>
            </div>
          </figure>
          <figure class="benefit-box benefit-box4 light-blue-bg hidden-lg hidden-md">
            <div class="text-benefits center-vertical">
              <p>
                Más oportunidad con menos listas de espera <span>+ satisfacción de los pacientes.</span>
              </p>
            </div>
          </figure>
          <figure class="benefit-box benefit-box5 purple-bg ">
            <div class="text-benefits center-vertical">
              <p>
                Mejora la <span>oportunidad, acceso y satisfacción</span> de los usuarios de las EPS. 
              </p>
            </div>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <figure class="benefit-box benefit-box3 purple-bg hidden-xs hidden-sm">
            <div class="text-benefits center-vertical">
              <p>
                Menos “remisiones físicas” <br/> innecesarias al dermatólogo conduce a <span>menores costos y mayor eficiencia.</span>
              </p>
            </div>
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="benefit-box benefit-box6 light-blue-bg">
            <div class="text-benefits center-vertical">
              <p>
                Evita hasta <span>94%</span> los <span>traslados</span> de pacientes.
              </p>
              <small>fuente: Wootton y col. BMC Health Services Research</small>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <%= render partial: 'social_network.html.erb'%>
  </div>
  <!-- Fin Beneficios -->

  <!-- Instalaciones -->
  <div class="section instalations">
    <div class="container" style="margin-top:-100px;">
      <div class="text-about-us text-center text-center-sm" style="margin-bottom: 5px">
        <h3 style="margin-bottom: 0px">
          Nuestras
        </h3>
        <h2><b>instalaciones</b></h2>
      </div>
      <br/>
      <p style="max-width: 600px;margin:auto;text-align:justify;">Contamos con instalaciones e infraestructura tecnológica de última generación en teledermatología para la atención con calidad y oportunidad a los pacientes con problemas de piel.</p>
      <br/>
      <div class="row row-center">
        <div class="col-md-6 col-md-offset-1 text-right text-center-sm col-sm-12">
          <a class="fancybox" href="<%= asset_path("landing/instalacion1.png") %>" data-fancybox-group="gallery">
            <img src="<%= asset_path("landing/instalacion1.png") %>" class="img-responsive" alt="" />
          </a>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-6 text-center-sm">
              <a class="fancybox" href="<%= asset_path("landing/instalacion2.png") %>" data-fancybox-group="gallery">
                <img src="<%= asset_path("landing/instalacion2.png") %>" width="247px" height="200px" class="img-responsive margin-bottom15" alt="" />
              </a>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-6 text-center-sm">
              <a class="fancybox" href="<%= asset_path("landing/instalacion3.png") %>" data-fancybox-group="gallery">
                <img src="<%= asset_path("landing/instalacion3.png") %>" width="247px" height="200px" class="img-responsive" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'social_network.html.erb'%>
  </div>
  <!-- Fin Instalaciones -->

  <!-- Testimonios -->
  <div class="section testimonials">
    <div class="container">
      <br/>
      <div class="text-about-us text-left text-center-sm">
        <h2>Testimonios</h2>
      </div>
      <br/>
      <div class="row row-center">
        <div class="col-md-6">
          <figure class="box-testimonials bgBlue">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="<%= asset_path("landing/testimonio1.png") %>" class="img-responsive inline-block">
              </div>
              <div class="col-md-9">
                <div class="text-testimonial">
                  <h3>Habitante municipio de Marulanda</h3>
                  <p>
                    "Con este proyecto, los más beneficiados somos los pacientes que no podemos ver a un especialista, es muy complicado por temas económicos". 
                  </p>
                </div>
              </div>
            </div>
          </figure>
          <figure class="box-testimonials bgPurple">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="<%= asset_path("landing/testimonio2.png") %>" class="img-responsive inline-block">
              </div>
              <div class="col-md-9">
                <div class="text-testimonial">
                  <h3>
                    Sandra Muvdi Arenas <br/>
                    <small>Dermatóloga Hospital Universitario CDFLLA</small>
                  </h3>
                  <p>
                    La plataforma de Telederma es fácil de usar, amigable, concreta, completa, permite obtener la información e imágenes necesarias para orientar un diagnóstico en enfermedades de la piel a través de la interacción del médico general y el especialista.
                  </p>
                </div>
              </div>
            </div>
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="box-testimonials bgPurple">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="<%= asset_path("landing/testimonio3.png") %>" class="img-responsive inline-block">
              </div>
              <div class="col-md-9">
                <div class="text-testimonial">
                  <h3>
                    Dra. Rosa Taberner Ferrer <br/>
                    <small>Dermatóloga Hospital Son Llátzer (Palma, Illes Balears, España).  Editora del blog docente “Dermapixel” desde 2011.</small>
                  </h3>
                  <p>
                    Los colombianos van a poder disfrutar de un diagnóstico dermatológico en cualquier lugar del país por lejano que se encuentre. Se rompen las barrera físicas.
                  </p>
                </div>
              </div>
            </div>
          </figure>
          <figure class="box-testimonials bgBlue">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="<%= asset_path("landing/testimonio4.png") %>" class="img-responsive inline-block">
              </div>
              <div class="col-md-9">
                <div class="text-testimonial">
                  <h3>
                    Andrés Leonardo Bolaños<br/>
                    <small>Médico Rural Hospital San José Marulanda</small>
                  </h3>
                  <p>
                    "Telederma es muy innovadora, nos permite resolver los problemas de los pacientes.  El Kit permite capturar una excelente imagen de la piel y la respuesta del especialista es rápida, acertada y completa". 
                  </p>
                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <div class="logos-p text-center">
        <img src="<%= asset_path("landing/logos-asociados.png")%>" class="img-responsive" style="display: inline-block;">
      </div>
    </div>
    <%= render partial: 'social_network.html.erb'%>
  </div>
</div>
<!-- Fin Quienes somos -->
<script type="text/javascript">
  $( document ).ready(function() {
  });

  //Fullpage
  $('#fullpageAboutUs').fullpage({
      navigation: false,
      anchors: ['', 'what-is-telederma', 'benefits', 'instalations', 'testimonials'],
      parallax: false,
      fitToSection: false,
      navigationTooltips: ['Qué es telederma', 'Beneficios', 'Instalaciones', 'Testimonios'],
      responsiveWidth: 991
    });

  //Fancybox img
  $('.fancybox').fancybox({openEffect : 'elastic',   //'fade', 'elastic'
    closeEffect : 'elastic',
    openSpeed:'normal', //ms, slow, normal, fast (default 250ms)
    closeSpeed:'normal',
    helpers : {
      title : {
         type : 'inside' //'float', 'inside', 'outside' or 'over'
      },
      overlay : {
        closeClick : true  // if true, se cierra al hacer click fuera de la imagen
      }
    },
    padding:11
  });
</script>




