<%= render partial: 'top_menu.html.erb'%>

<div id="event_prof">
	<header id="principal_image"></header>

		<div class="contenedor_titu">
			<div class="titulo">
				<h1 class="ponents">Ponentes</h1>
				<div class="linea"></div>
			</div>
		</div>
		
	<!--Dra_Paola_Pascuali-->
	<div class="contenedor">
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dra_Paola_Pascuali.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dra. Paola Pasquali</h2>
			<h4 class="ocupation">Coordinadora del Servicio de Dermatología
			<br>
			Pius Hospital de Valls (Tarragona)
			<br>ESPAÑA</h4>
				
			<p class="description_prof">Bióloga de la Boston University, donde obtuvo su licenciatura cum laude y Postgrado en Biología.  Médico cirujano en la Universidad Central de Venezuela y Especialista en Dermatología y Sifilografía.<br><br>Director Médico Pasquali & Asociados. Medicina y Especialidades Médicas, Universidad de Alcalá.  Coordinadora de Dermatología, Pius Hospital de Valls. Áreas de principal interés: Criocirugía, Técnicas de Imagen No invasivas, Teledermatología. Editora en Photography in Clinical Medicine (Springer, 2020).  Textbook of Primary Care Dermatology (Springer, 2020). Chair del International Affair Committee de la American Academy of Dermatology (AAD).  Past-President, International Society of Teledermatology.  Miembro del comité EADV School (European Academy of Dermatology and Venereology).</p>
			</div>
		</div>	
	</div>
		
	<!--Dra. Elin Xiomara Perea Flórez-->
	<div class="contenedor">
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dra_Elin_Xiomara_Perea_Florez.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dra. Elin Xiomara Perea Flórez</h2>
			<h4 class="ocupation">Directora (e)
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médica Cirujana y Administradora de Servicios de Salud de la UIS. Especialista
                                  en Salud Ocupacional, Universidad Manuela Beltrán. Especialista en Educación
                                  con nuevas tecnologías, Universidad Autónoma de Bucaramanga. Maestría en
                                  Salud Pública, Universidad de Antioquia.<br><br>
																	Actualmente tiene una tecnología patentada y es Co-investigadora del proyecto
                                  de Teledermatología Hospital Universitario CDFLLA-MinCiencias. Telederma tiene el premio al mejor programa de Transformación Digital 
																	y de Modernización del Estado otorgado por Función Pública 2019, referenciado por medios de comunicación 
																	y en otros escenarios como un proyecto de gran impacto e innovador.<br><br>
                                  Hace parte de la mesa asesora de telesalud de MinSALUD, miembro de la
                                  RED RITMOS, Asociación Colombiana de Salud Pública y conferencista en
                                  eventos nacionales e internacionales.
																	</p>
			</div>
		</div>	
	</div>
		
	<!--Dr. Manuel Humberto-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_Manuel_Humberto_Henao_Catano.png') %>" alt="">
				</a>	
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Manuel Humberto Henao Cataño </h2>
			<h4 class="ocupation">Líder de Tecnología
			<br>
			EPS SURA
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Medico cirujano universidad pontificia bolivariana, Especialista en derecho médico de la universidad pontificia bolivariana, Especialista en gerencia de el CEIPA, Diplomado en telemedicina universidad del Ces, Lider de tecnologia EPS SURA.<br>
Hace parte de la mesa asesora de telesalud del Ministerio de Salud y Protección Social.</p>
			</div>	
		</div>	
	</div>
		
	<!--Dra. Martha Cecilia Valbuena Mesa-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dra_Martha_Cecilia_Valbuena_Mesa.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dra. Martha Cecilia Valbuena Mesa</h2>
			<h4 class="ocupation">Coinvestigadora Proyecto de Teledermatología
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médica Dermatóloga de la Pontificia Universidad Javeriana – Hospital Universitario Centro Dermatológico Federico Lleras Acosta, E.S.E. Docente de postgrado en dermatología de la Fundación Universitaria Sanitas y la Universidad Javeriana. Investigadora Junior MINCIENCIAS.<br><br>La doctora cuenta con muchos años de experiencia laboral en su temática de estudio. Además, ella ha participado como miembro de diversas asociaciones médicas. Martha Cecilia Valbuena Mesa ha colaborado en innumerables conferencias con la finalidad de tener una formación continua en su temática de especialización y ha compartido importantes comunicados.</p>
			</div>	
		</div>	
	</div>
		
	<!--Dr. Omar Ricardo Díaz Cárcamo-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_Omar_Ricardo_Diaz_Carcamo.png') %>" alt="">
				</a>	
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Omar Ricardo Díaz Cárcamo</h2>
			<h4 class="ocupation">Investigador Proyecto de Teledermatología
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médico Epidemiólogo candidato a Maestría en Epidemiología Clínica.  Con experiencia en la investigación en el área de Dermatología Clínica y aplicada y en la industria farmacéutica como Medical Science Liaison.</p>
			</div>	
		</div>	
	</div>
		
	<!--Dr. Carlos Andrés Rebellón-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_Carlos_Andres_Rebellon.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Carlos Andrés Rebellón</h2>
			<h4 class="ocupation">Director de Gobierno y Políticas Públicas para Hispanoamérica y Canadá Intel
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Economista, Magister en economía ambiental y recursos naturales, en administración de negocios y de comunicaciones de la Universidad de Strathclyde de escocia. <br><br>17 años de experiencia en el sector público y privado, de las industrias de telecomunicaciones, tecnología y servicios en las áreas de regulación política pública, compras públicas y ventas.  Lidera temas de alta prioridad en la región, como la adopción de IA, 5G, IoT, AD, la mejora en compras públicas y la transformación digital del gobierno. <br><br>Presidente o miembro de juntas de varias asociaciones de industria en América Latina.  Profesor de regulación de TIC y regulación de servicios públicos en la Universidad de los Andes, y en la Universidad Externado de Colombia.</p>
			</div>	
		</div>	
	</div>
		
	<!--Camilo Barrera-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="https://www.linkedin.com/in/camilo-barrera-valencia-60759927/" target="_blank">
					<img src="<%= asset_path('landing/Dr_Camilo_Barrera_Valencia.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Camilo Barrera Valencia</h2>
			<h4 class="ocupation">Investigador Principal Proyecto de Teledermatología
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médico, MBA. Director científico de la empresa BrainCo especializada en telemedicina y telesalud. Co-investigador del estudio de Teledermatología proyecto Hospital Universitario CDFLLA - MinCiencias. Participó en la discusión de la ley 1419 de Telesalud en el Congreso de la República en 2010. Miembro de la mesa técnica que definió las normas 3100 y 2654 para Telemedicina y Telesalud. Miembro del equipo que desarrolló "Telederma" del Hospital Dermatológico Federico Lleras ganador del premio de transformación digital del país en 2019. Participó en la implementación de telemedicina en más de 100 hospitales del país. Investigador de MinCiencias y Red RITMOS. Inventor de 3 tecnologías patentadas (una con patente pendiente). Ha sido docente de telesalud en la Universidad de Caldas, Universidad de Antioquia y Universidad CES.</p>
			</div>
		</div>	
	</div>
		
	<!--Dr. Leonardo Rojas Mezarina-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_Leonardo_Rojas_Mezarina.png') %>" alt="">
				</a>	
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Leonardo Rojas Mezarina</h2>
			<h4 class="ocupation">Jefe de la Unidad de Telesalud - PERÚ
			<br>
			Universidad Nacional Mayor de San Marcos
			<br>PERÚ</h4>
				
			<p class="description_prof">Médico Cirujano de la Universidad Nacional Mayor de San Marcos (UNMSM) de Perú, especialista en Administración y Gestión en Salud (UPCH), Investigador RENACYT, coordinador del grupo de investigación de Tecnologías de Información e Innovación de Salud, y Docente Investigador del Departamento Académico de Medicina Preventiva y Salud Pública (UNMSM), ha ocupado cargos directivos en el Ministerio de Salud del Perú sobre temas de Innovación, Desarrollo Tecnológico y Telesalud, así como consultor de salud digital de una empresa multinacional de eHealth. </p>
			</div>	
		</div>	
	</div>
		
	<!--Dra. Flavia Pozzobon-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dra_Flavia_Pozzobon.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dra. Flavia Pozzobon</h2>
			<h4 class="ocupation">Consultora Científica Proyecto Teledermatología
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">MD Dermatóloga Universidad Nacional de Colombia. <br>Master Patología Cutánea Avanzada con énfasis en Dermatoscopia y lesiones pigmentadas en Universidad de Barcelona. <br>Doctora en Medicina e Investigación traslacional en la Universidad De Barcelona. <br>Miembro de la Sociedad Internacional de Dermatoscopia y Asociación Colombiana de Dermatología. <br>Dermatóloga especialista en Dermatoscopia y lesiones pigmentadas Centro Dermatológico Federico Lleras Acosta e Instituto Nacional de Cancerología. Autora de más de 15 publicaciones científicas, conferencista en más de 10 congresos nacionales e internacionales. <br>Ganadora de becas de la sociedad internacional de dermatología y sociedad internacional de Dermatoscopia.</p>
			</div>	
		</div>	
	</div>
		
	<!--Dr. Ángel Omar Jaimes Ramírez-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_Angel_Omar_Jaimes_Ramirez.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. Ángel Omar Jaimes Ramírez</h2>
			<h4 class="ocupation">Dermatólogo Telederma
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Es especialista en Dermatología Oncológica, Gerencia de la Calidad y Auditoria en salud, y Gerencia de Servicios de Salud, con interés especial en la prevención de cáncer, diagnóstico y tratamiento e investigación clínica.<br><br>Es experto en: Cáncer de piel, Cirugía de Mohs, Carcinoma Basocelular, Carcinoma Escamocelular, Melanoma. <br><br>Se especializó en Dermatología por la Universidad CES y el Centro Dermatológico Federico Lleras, Realizo su supra especialidad en Dermatología Oncológica en el Instituto Nacional de Cancerología y la Universidad Militar Nueva Granada (UMNG). Es conferenciante nacional y educador en la prevención y detección temprana del cáncer de piel, con varias publicaciones y experiencia en el tema.</p>
			</div>
		</div>	
	</div>
		
	<!--Dr. John Alexander Nova Villanueva-->
	<div class="contenedor">	
		<div class="tarjeta">
			<div class="header">
				<a href="#">
					<img src="<%= asset_path('landing/Dr_John_Nova.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dr. John Alexander Nova Villanueva</h2>
			<h4 class="ocupation">Consultor Científico Proyecto Teledermatología
			<br>
			E.S.E Centro Dermatológico Federico Lleras Acosta
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médico dermatólogo de la Universidad Javeriana, epidemiólogo de la Universidad Nacional, fellow de dermatología oncológica. Lidera la línea de investigación en cáncer de piel del CDFLLA, con resultados que abarcan la salud pública, la epidemiología y la genética del cáncer de piel en la población colombiana.</p>
			</div>
		</div>	
	</div>
		
	<!--Dr. José Luis Gatica Monsalve-->
	<div class="contenedor">
		<div class="tarjeta">
				<div class="header">
					<a href="#">
						<img src="<%= asset_path('landing/Dr_Jose_Luis_Gatica_Monsalve.png') %>" alt="">
					</a>	  
				</div>	
			<div class="descripcion">
			<h2 class="complete_name">Dr. José Luis Gatica Monsalve</h2>
			<h4 class="ocupation">Director de la Célula Teledermatología
			<br>
			Hospital Digital
			<br>CHILE</h4>
				
			<p class="description_prof">Médico Cirujano de la Universidad de Chile, Especialista en Dermatología y Venereología de la Universidad de Chile.  Diploma de Postítulo en promoción de la Salud, instituto de Nutrición y Tecnología de los Alimentos, Diploma en Gerencia de Atención Primaria, Diploma de Postítulo en Medicina Interna para Médicos Generales 2° versión en la Universidad de Chile. Director de la célula de dermatología del Hospital Digital. Profesor de dermatología de la Universidad de Santiago de Chile. Director médico coordinador de operativos médicos de la Fundación Cienmanos. <br><br>Docente Universidad Diego Portales, imparte los Cursos de grado y posgrado en Dermatologías y Venereología de Medicina, Magister en Informática Médica, Teledermatología, Dermatología en APS, Encargado y docente de pasantía en clínica Orlandi, de residentes de dermatología de la Universidad de Santiago de Chile del 2017 a la fecha.</p>
			</div>	
		</div>	
	</div>

	<!--Dra. Sandra Gallegos o director nuevo-->
	<div class="contenedor">		
		<div class="tarjeta">
			<div class="header">
				<a href="#">
			    <img src="<%= asset_path('landing/2.png') %>" alt="">
				</a>
			</div>
			
			<div class="descripcion">
			<h2 class="complete_name">Dra. Sandra Gallegos</h2>
			<h4 class="ocupation">Asesora de la Oficina de Prestación de Servicios y Atención Primaria
			<br>
			Ministerio de Salud y Protección Social
			<br>COLOMBIA</h4>
				
			<p class="description_prof">Médico, MBA. Director científico de la empresa BrainCo especializada en telemedicina y telesalud. Co-investigador del estudio de Teledermatología proyecto Hospital Universitario CDFLLA - MinCiencias. Participó en la discusión de la ley 1419 de Telesalud en el Congreso de la República en 2010. Miembro de la mesa técnica que definió las normas 3100 y 2654 para Telemedicina y Telesalud. Miembro del equipo que desarrolló "Telederma" del Hospital Dermatológico Federico Lleras ganador del premio de transformación digital del país en 2019. Participó en la implementación de telemedicina en más de 100 hospitales del país. Investigador de MinCiencias y Red RITMOS. Inventor de 3 tecnologías patentadas (una con patente pendiente). Ha sido docente de telesalud en la Universidad de Caldas, Universidad de Antioquia y Universidad CES.</p>
			</div>	
		</div>	
	</div>
  
	<div class="contenedor_titu">
		<div class="titulo">
			<h1 class="ponents">Agenda</h1>
			<div class="linea"></div>
		</div>
	</div>
  
	<!--AGENDA -->
	<div class="contenedor_agenda">
		<div class="panel-group" id="accordion" style="width: 900px;">
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseOne">7:40 AM - 8:00 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				
				<div id="collapseOne" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					CONEXIONES Y APERTURA YOUTUBE Y FACEBOOK LIFE
				</div>
				
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseTwo">8:00 AM - 8:05 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					SALUDO DE BIENVENIDA AL II SIMPOSIOINTERNACIONAL EN TELEDERMATOLOGÍA
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseThree">8:05 AM - 8:20 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL - MINSALUD OFICINA DE PRESTACIÓN DE SERVICIOS Y ATENCIÓN PRIMARIA
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseFour">8:20 AM - 8:40 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DRA. PAOLA PASQUALI<br>
	COORDINADORA DEL SERVICIO DE DERMATOLOGÍA PIUS HOSPITAL DE VALLS(TARRAGONA) - ESPAÑA
	<br>
	TEMA: TELEDERMATOLOGÍA :QUÉ HAY DESPUÉS DEL COVID19
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseFive">8:40 AM - 8:45 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					HOMENAJE POSTUMO DRA.CLAUDIA MARCELA ROJAS DAZA<br>
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseSix">9:05 AM - 9:25 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DR. MANUEL HUMBERTO HENAO CATAÑO<br>
	LIDER DE TECNOLOGÍA EPS SURA
	<br>
	TEMA: TELEMEDICINA, CIFRASYRETOS
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseSeven">9:25 AM - 9:55 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseSeven" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DRA. MARTHA VALBUENA – COINVESTIGADORA DR.OMAR RICARDO DÍAZ CÁRCAMO–INVESTIGADOR PROYECTO DETELEDERMATOLOGÍA<br>
	HOSPITAL UNIVERSITARIO CENTRODERMATOLÓGICO FEDERICO LLERAS ACOSTA E.S.E
	<br>TEMA: TELEDERMATOSCOPIA MÓVIL: EVALUACIÓN DE LA CALIDAD DE LAS IMÁGENES CONTECNOLOGÍA A SU ALCANCE.
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseEight">9:55 AM - 10:15 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseEight" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DR. CARLOS ANDRÉS ROBELLÓN<br>
	DIRECTOR DE GOBIERNO Y POLÍTICAS PÚBLICAS PARA HISPANOAMÉRICA Y CANADÁ INTEL
	<br>TEMA: TENDENCIAS TECNOLÓGICAS Y SALUD: LA VISIÓN DE INTEL.
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseNine">10:15 AM - 10:35 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseNine" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DR. CAMILO BARRERA<br>
	INVESTIGADOR PRINCIPAL PROYECTO DETELEDERMATOLOGÍA HOSPITAL UNIVERSITARIO CENTRODERMATOLÓGICO FEDERICO LLERAS ACOSTA E.S.E
	<br>
	TEMA: TELEDERMATOLOGÍA MÓVIL: UNA APUESTA A LA REDUCCIÓN DE COSTOS.
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseTen">10:35 AM - 10:55 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseTen" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DR. LEONARDO ROJAS MEZARINA<br>
	JEFE DE LA UNIDAD DE TELESALUD - PERÚ UNIVERSIDAD NACIONAL MAYOR DE SANMARCOS - PERÚ<br>
	TEMA: COVID19 UN IMPULSOR DEL DESARROLLO DE LA SALUD DIGITAL Y LOS RETOS DE LA TELESALUD EN PERÚ.
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseEleven">10:55 AM - 11:35 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseEleven" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					MODERADOR: DRA. ELIN XIOMARA PEREA FLÓREZ<br>
	DRA. FLAVIA POZZOBON – CONSULTORA CIENTÍFICA<br>
	DR.JOHN NOVA – CONSULTOR CIENTÍFICO<br>
	DR. ÁNGEL OMAR JAIMES - DERMATÓLOGO TELEDERMA<br>
	DR. CAMILO BARRERA - INVESTIGADOR PRINCIPAL PROYECTO DETELEDERMATOLOGÍA HOSPITAL UNIVERSITARIO CENTRODERMATOLÓGICO FEDERICO LLERAS ACOSTA E.S.E
	<br>
	PANEL: RETOS Y OPORTUNIDADES DE LA TELESALUD Y LA TELEDERMATOLOGÍA MÓVIL EN COLOMBIA.
				</div>
			</div>
			<div class="panel panel-default panel-event">
				<div class="panel-heading heading-event">
					<h4 class="panel-title">
						<a data-toggle="collapse" class="hours" data-parent="#accordion" href="#collapseTwelve">
							11:35 AM - 12:00 AM <i class="bi bi-caret-down-fill"></i></a>
					</h4>
				</div>
				<div id="collapseTwelve" class="panel-collapse collapse" style="font-family:'robotoregular';padding: 15px;">
					DR. JOSÉ LUIS GATICA MONSALVE<br>
	DIRECTOR DE LA CÉLULA TELEDERMATOLOGÍA HOSPITAL DIGITAL - CHILE<br>
	TEMA: TELEDERMATOLOGÍA EN CHILE: UN ANTES Y UN DESPUÉS DEL HOSPITAL DIGITAL.
				</div>
			</div>
		</div>
		<a class="btn btn-primary btn-regis" href="https://docs.google.com/forms/d/e/1FAIpQLSciwOfQAYmgA7JovO1LPQpR_P8GxTj8_qKlS9VBX-nACTckYg/viewform" role="button">Inscribirse</a>
	</div>
	
	<div class="redes">
		<ul class="social">
			<li><a href="https://www.facebook.com/tele.derma.583" target="_blank"><i class="bi bi-facebook"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCeDQcQ70CbKQn1knAkBExgw" target="_blank"><i class="bi bi-youtube" target="_blank"></i></a></li>
			<li><a href="https://twitter.com/RedTelederma"><i class="bi bi-twitter"></i></a></li>
		</ul>
	</div>
</div>